<!DOCTYPE html>
{% extends 'common.html' %}

{% block body%}
{% load static %}
<html lang="en">
   <head>
      
      <!-- basic -->
      <!-- <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
      <!-- mobile metas -->
      <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1"> -->
      <!-- site metas -->
      <!-- <title>Life Hacks | About</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content=""> -->
      <!-- bootstrap css -->
      <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
      <!-- style css -->
      <!-- <link rel="stylesheet" href="css/style.css"> -->
      <!-- Responsive-->
      <!-- <link rel="stylesheet" href="css/responsive.css">
      <link rel="stylesheet" href="css/search.css"> -->
      <!-- fevicon -->
      <!-- <link rel="icon" href="images/fevicon.png" type="image/gif" /> -->
      <!-- Scrollbar Custom CSS -->
      <!-- <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"> -->
      <!-- Tweaks for older IEs-->
      <!-- <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen"> -->
      <!--[if lt IE 9]-->
      <title>About Us</title>
      
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <!-- <div class="loader_bg">
         <div class="loader"><img src="#" alt="#" /></div>
      </div> -->
      <!-- end loader --> 
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="head_top">
               <div class="container">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                       <div class="top-box">
                        <ul class="sociel_link">
                         <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
                         <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                         <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                         <li> <a href="#"><i class="fa fa-linkedin"></i></a></li>
                     </ul>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <!-- <form id="content">
                        <input type="text" name="input" class="input" id="search-input">
                        <button type="reset" class="search" id="search-btn"></button>
                        </form> -->
                        <div class="top-box">
                        <p>An easy way to contact your attorney!</p>
                    </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo"> <a href="{% url 'homepage'%}"><img style="width:165px; height:auto;" src="{% static 'image/logo.png' %}" alt="logo"/></a> </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-7 col-lg-7 col-md-9 col-sm-9">
                  <div class="menu-area">
                     <div class="limit-box">
                        <nav class="main-menu">
                           <ul class="menu-area-main">
                            <li class="active"> <a href="{% url 'homepage'%}">Home</a> </li>
                            <!-- <li> <a href="All Lawyers.html">All Lawyers</a> </li> -->
                            <li> <a href="{% url 'about'%}">About</a> </li>
                            <li> <a href="{% url 'contact'%}">Contact</a> </li>
                            <li class="nav-item">
                                <a class="nav-link" href='{% url "logout"%}'>Log Out</a>
                            </li>   
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
               <!-- <div class="col-sm-4">
                <ul class="nav nav-pills">
                     
                     
                 </ul>	     
                </div> -->
               
            </div>
         </div>
         <!-- end header inner --> 
      </header>
      <!-- end header -->
       <div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>About</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>


<div class="about">
   <div class="container">
      <div class="row">
         <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
             <div class="about_box">
               <figure><img src="image/about.jpg"/></figure>
            </div>
         </div> -->
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="about_box">
               <h3>About Us</h3>
               <p>We made this website so that it will be helpful to a lot of people as they can book an appointment with ease.</p>
               <p>This Website contains information about different types of attorneys and the ability to schedule an appointment with them.</p>
            </div>
         </div> 
      </div>
   </div>
</div>

<!-- CHOOSE  -->
      <div class="whyschose">
         <div class="container">

            <div class="row">
               <div class="col-md-7 offset-md-3">
                  <div class="title">
                     <h2>Book <strong class="black">An Appointment</strong></h2>
                     <span></span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="choose_bg">
         <div class="container">
            <div class="white_bg">
            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                  <div class="for_box">
                     <i><img style="width:90px; height:auto;" src="{% static 'icon/1.png' %}"/></i>
                     <h3>Save Your Time</h3>
                     <p>Through this, you don't have to go to courts and search for an Attorney. You can just search up easily and book an appointment.</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                  <div class="for_box">
                     <i><img style="width:115px; height:auto;" src="{% static 'icon/2.png' %}"/></i>
                     <h3>Efficiency</h3>
                     <p>Cuts down on time, energy and money consumed to book an appointment rather than physically roam around.</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                  <div class="for_box">
                     <i><img style="width:90px; height:auto;" src="{% static 'icon/3.png' %}"/></i>
                     <h3>Easy To Do</h3>
                     <p>This website has been built by keeping 'ease of use' in mind all the time.</p>
                  </div>
               </div>   
            </div>
         </div>
       </div>
      </div>
<!-- end CHOOSE -->

      <!-- our product -->
      <div class="product">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                     <h2>Our <strong class="black">Team</strong></h2>
                     <span>These are the people who worked on this project.</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="product-bg">
         <div class="product-bg-white">
         <div class="container">
            <div class="row">
               <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                  <div class="product-box">
                     <i><img src="{% static 'icon/female.png' %}"/></i>
                     <h4></h4>
                     <span>Nidhi Khemka</span>
                     <h3>BT18GCS176</h3>
                     <h3>Section-C2</h3>
                     
                  </div>
               </div>
               <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                  <div class="product-box">
                     <i><img src="{% static 'icon/female.png' %}"/></i>
                     <h4></h4>
                     <span>Muskaan Mahindrakar</span>
                     <h3>BT18GCS176</h3>
                     <h3>Section-C2</h3>
                     
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                  <div class="product-box">
                     <i><img src="{% static 'image/Srivatsav.png' %}"/></i>
                     <h4></h4>
                     <span>K.Srivatsav Sai</span>
                     <h3>BT18GCS028</h3>
                     <h3>Section-C2</h3>
                     
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                  <div class="product-box">
                     <i><img src="{% static 'icon/Diwakar.jpeg' %}"/></i>
                     <h4></h4>
                     <span>Diwakar Prabhu</span>
                     <h3>BT18GCS176</h3>
                     <h3>Section-C2</h3>
                     
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                  <div class="product-box">
                     <i><img src="{% static 'image/Nikhil.png' %}"/></i>
                     <h4></h4>
                     <span>K.Nikhil Reddy</span>
                     <h3>BT18GCS169</h3>
                     <h3>Section-C2</h3>
                     
                  </div>
               </div>
               
                </div>
            </div>
         </div>

      
      <!--  footer --> 
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-6 offset-md-3">
                     <ul class="sociel">
                         <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
                         <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                         <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                         
                     </ul>
                  </div>
            </div>
            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                  <div class="contact">
                     <h3>conatct us</h3>
                     <span>123 Second Street Fifth Avenue,<br>
                       Manhattan, New York<br>
                        +987 654 3210</span>
                  </div>
               </div>
                 <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                  <div class="contact">
                     <h3>ADDITIONAL LINKS</h3>
                     <ul class="link">
                         
                         <li> <a href="#">Terms and conditions</a></li>
                         <li> <a href="#">Privacy policy</a></li>
                         <li> <a href="#">News</a></li>
                         <li> <a href="{% url 'contact'%}">Contact us</a></li>
                     </ul>
                  </div>
               </div>
                 <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                  <div class="contact">
                     <h3>About Us</h3>
                     <span>We are here to provide an easy scheduling system for our customers in hiring an attorney. Know more <a style="color:gold"href="{% url 'about'%}">About</a> us here.  </span>
                  </div>
               </div>
            </div>
         </div>
            
         
      </div>
      </footer>
      <!-- end footer -->
      
   </body>
</html>
{%endblock%}