
{% extends 'common.html' %}

{% block body%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- 
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      
      
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      
      <link rel="stylesheet" href="css/bootstrap.min.css">
      
      <link rel="stylesheet" href="css/style.css">
      
      <link rel="stylesheet" href="css/responsive.css">
      <link rel="stylesheet" href="css/search.css">
      
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      -->
      <title>Home Page</title>
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="#" alt="#" /></div>
      </div>
      <!-- end loader --> 
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="head_top">
               <div class="container">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                       <div class="top-box">
                        <ul class="sociel_link">
                         <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
                         <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                         <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                         <li> <a href="#"><i class="fa fa-linkedin"></i></a></li>
                     </ul>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                       {% comment %} <form id="content">
                        <input type="text" name="input" class="input" id="search-input">
                        <button type="reset" class="search" id="search-btn"></button>
                        </form> {% endcomment %}
                        <div class="top-box">
                        <p>An easy way to contact your attorney!</p>
                       </div>
                  </div>
                  
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo"> <a href="{% url 'homepage'%}"><img style="width:165px; height:auto;" src="{% static 'image/logo.png' %}" alt="logo"/></a> </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
                  <div class="menu-area">
                     <div class="limit-box">
                        <nav class="main-menu">
                           <ul class="menu-area-main">
                              <li class="active"> <a href="{% url 'homepage'%}">Home</a> </li>
                              <!-- <li> <a href="All Lawyers.html">All Lawyers</a> </li> -->
                              <li> <a href="{% url 'about'%}">About</a> </li>
                              <li> <a href="{% url 'contact'%}">Contact</a> </li>
                              <li class="nav-item">
								         <a class="nav-link" href='{% url "customer"%}'>My Appointments</a>
								      </li>
                              <li class="nav-item">
                                <a class="nav-link" href='{% url "logout"%}'>Log Out</a>
                              </li>
                              <!--<li class="mean-last"> <a href="#contact">signup</a> </li>-->
                               
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
               {% comment %} <div class="col-sm-4">
					     <ul class="nav nav-pills">
							  <li class="nav-item">
							    <a class="nav-link" href='{% url "logout"%}'>Log Out</a>
							  </li>
							  
						  </ul>	     
	       		 </div> {% endcomment %}
               <!--<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
                  <li><a class="buy" href="#">Login</a></li>
               </div>-->
            </div>
         </div>
         <!-- end header inner --> 
      </header>
      <!-- end header -->
      <!-- <section class="slider_section">
         <div id="main_slider" class="carousel slide banner-main" data-ride="carousel">

            <div class="carousel-inner">
               <div class="carousel-item active">
                  <img class="first-slide" src="images/criminal.jpg" alt="First slide">
                  <div class="container">
                     <div class="carousel-caption relative">
                        <h1>Bankruptcy <br> <strong class="black_bold"></strong>
                           <strong class="yellow_bold">Lawyers</strong></h1>
                        <p>If you’re having financial difficulties and are contemplating bankruptcy proceedings, <br>
                           you’ll want to consult with a bankruptcy attorney.</p>
                        <a  href="B Lawyers.html">Discover for more</a>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <img class="second-slide" src="images/criminal.jpg" alt="Second slide">
                  <div class="container">
                     <div class="carousel-caption relative">
                        <h1>Intellectual <br> <strong class="black_bold">Property</strong><br>
                           <strong class="yellow_bold">Lawyers</strong></h1>
                        <p>An intellectual property lawyer can advise you with regard to issues <br>
                          relating to intellectual property, such as copyrights, etc.</p>
                        <a  href="IP Lawyers.html">Discover for more</a>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <img class="second-slide" src="images/criminal.jpg" alt="Second slide">
                  <div class="container">
                     <div class="carousel-caption relative">
                        <h1>Criminal<br> <strong class="black_bold"></strong>
                           <strong class="yellow_bold">Lawyers</strong></h1>
                        <p>A criminal lawyer will be knowledgeable in areas related to criminal law,  <br>
                           including issues related to bail, arrest and any issues relating to the criminal <br>
                           trial itself.</p>
                        <a  href="C Lawyers.html">Discover for more</a>
                     </div>
                  </div>
               </div>
               

            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class='fa fa-angle-right'></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class='fa fa-angle-left'></i>
            </a>
            
         </div> -->

      </section>



<!-- CHOOSE  -->
      <div class="whyschose">
         <div class="container">

            <div class="row">
               <div class="col-md-7 offset-md-3">
                  <div class="title">
                     <h2>Book <strong class="black">An Appointment</strong></h2>
                     <span></span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="choose_bg">
         <div class="container">
            <div class="white_bg">
            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                  <div class="for_box">
                     <i><img style="width:90px; height:auto;" src="{% static 'icon/1.png' %}"/></i>
                     <h3>Save Your Time</h3>
                     <p>Through this, you don't have to go to courts and search for an Attorney. You can just search up easily and book an appointment.</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                  <div class="for_box">
                     <i><img style="width:115px; height:auto;" src="{% static 'icon/2.png' %}"/></i>
                     <h3>Efficiency</h3>
                     <p>Cuts down on time, energy and money consumed to book an appointment rather than physically roam around.</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                  <div class="for_box">
                     <i><img style="width:90px; height:auto;" src="{% static 'icon/3.png' %}"/></i>
                     <h3>Easy To Do</h3>
                     <p>This website has been built by keeping 'ease of use' in mind all the time.</p>
                  </div>
               </div>   
            </div>
         </div>
       </div>
      </div>
<!-- end CHOOSE -->

      <!-- our product -->
      <div class="product">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                     <h2>Popular <strong class="black">Choices</strong></h2>
                     <span>Here are few of the most popular types of Lawyers hired from our website.</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
       <div class="product-bg">
         <div class="product-bg-white">
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="product-box">
                     <i><img src="{% static 'icon/p1.png' %}"/></i>
                     <h4></h4>
                     <a href="Lawyer1.html" style="font-size:22px">Anshul Mehta</a>
                     <h3>If you like to drink ice coffee but hate the way your ice seems to water your coffee down as it melts, then try this hack.</h3>
                     
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="product-box">
                     <i><img src="{% static 'icon/p2.png' %}"/></i>
                     <h4></h4>
                     <a href="Lawyer2.html" style="font-size:22px">Raj Tarun</a>
                     <h3>The easiest way to remove the stains using a toothbrush and a toothpaste.</h3>
                     
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="product-box">
                     <i><img src="{% static 'icon/p3.png' %}"/></i>
                     <h4></h4>
                     <a href="Lawyer3.html" style="font-size:22px">Prabhakar Varma</a>
                     <h3>This hack comes in handy when you spend too much time out in the hot summer sun and get a sunburn.</h3>
                     
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="product-box">
                     <i><img src="{% static 'icon/p4.png' %}"/></i>
                     <h4></h4>
                     <a href="Lawyer4.html" style="font-size:22px">Prakash Rao</a>
                     <h3>This hack works great if you have a stuck zipper. All you need is a pencil.</h3>
                  </div>
               </div>
                </div>
            </div>
         </div>
         
        
      </div>
            </div>
         </div>

         <div class="container">
            <div class="yellow_bg">
            <div class="row">
               <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                  <div class="yellow-box">
                     <h3>Need Help?<i><img src="{% static 'icon/calll.png' %}"/></i></h3>
                     
                     <p>Get suggestions from anywhere!.</p>
                  </div>
               </div>
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                  <div class="yellow-box">
                     <a href="{% url 'contact'%}">Contact Us</a>
                  </div>
               </div>
            </div>
         </div>
         </div>
      </div>

      <!-- end our product -->
       
      <!--  footer --> 
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-6 offset-md-3">
                     <ul class="sociel">
                         <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
                         <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                         <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                         
                     </ul>
                  </div>
            </div>
            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                  <div class="contact">
                     <h3>Contact us</h3>
                     <span>123 Second Street Fifth Avenue,<br>
                       Manhattan, New York<br>
                        +987 654 3210</span>
                  </div>
               </div>
                 <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                  <div class="contact">
                     <h3>ADDITIONAL LINKS</h3>
                     <ul class="lik">
                         
                         <li> <a href="#">Terms and conditions</a></li>
                         <li> <a href="#">Privacy policy</a></li>
                         <li> <a href="#">News</a></li>
                         <li> <a href="{% url 'contact'%}">Contact us</a></li>
                     </ul>
                  </div>
               </div>
                 <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                  <div class="contact">
                     <h3>About Us</h3>
                     <span>We are here to provide an easy scheduling system for our customers in hiring an attorney. Know more <a style="color:gold"href="{% url 'about'%}">About</a> us here.  </span>
                  </div>
               </div>
            </div>
         </div>
            
         
      </div>
      </footer>
      <!-- end footer -->
      
   </body>
</html>
{%endblock%}